[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "4.6.11"
pytest-cov = "*"
pytest-mock = "*"
pytest-travis-fold = "*"
tox = "*"

[packages]
lxml = "~=4.6.3"
pluggy = "*"
six = "*"

[requires]
python_version = "3.7"
