[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pytest-cov = "*"
pytest-mock = "*"
lxml = "~=4.6.2"
pluggy = "*"
six = "*"
tox = "*"

[requires]
python_version = "3.7"
